<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h3>{{ profile.name }}</h3>
    <h3>{{ profile.github }}</h3>
    <h3>{{ profile.linkedin }}</h3>
    <p>{{ profile.bio }}</p>
    <h1>Projects</h1>
    <ul>
        {% for project in profile.projects.all %}
        <li>{{ project.name }}</li>
        <li>{{ project.description }}</li>
        <a>{{ project.github_url }}</a>
        <li>{{ project.keyword }}</li>
        <li>{{ project.key_skill }}</li>
        {% endfor %}
    </ul>
    <h1>Certificates</h1>
    <ul>
        {% for certificate in profile.certificates.all %}
        <h1>{{ certificate.certifying_institution }}</h1>
        <li>{{ certificate.name }} - {{ certificate.timestamp }}</li>
        {% endfor %}
    </ul>
</body>

</html>